<div class="">
	<h3 class="box-heading"><span><?php echo $text_account; ?></span></h3>
	<ul class="box-content list-unstyled">
		<li><a href="<?php echo $account; ?>"><?php echo $text_account; ?></a></li>
		<li><a href="<?php echo $order; ?>"><?php echo $text_order; ?></a></li>
		<li><a href="<?php echo $wishlist; ?>"><?php echo $text_wishlist; ?></a></li>
		<li><a href="<?php echo $voucher; ?>"><?php echo $text_voucher; ?></a></li>
		<li><a href="<?php echo $affiliate; ?>"><?php echo $text_affiliate; ?></a></li>
		<li><a href="<?php echo $sitemap; ?>"><?php echo $text_sitemap; ?></a></li>		
	</ul>
</div>