<h5><span><?php echo $text_extra; ?></span></h5>
<ul class="list-unstyled">
	<li><a href="<?php echo $manufacturer; ?>"><?php echo $text_manufacturer; ?></a></li>
	<li><a href="<?php echo $voucher; ?>"><?php echo $text_voucher; ?></a></li>
	<li><a href="<?php echo $affiliate; ?>"><?php echo $text_affiliate; ?></a></li>
	<li><a href="<?php echo $special; ?>"><?php echo $text_special; ?></a></li>
</ul>